* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5A3526;
    color: #000;
    height: 100vh; /* Make sure body covers full viewport */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    overflow: hidden; /* Prevent any unwanted scrollbars */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #5A3526;
    position: absolute;
    top: 0;
    left: 0;
    right: 180px;
}

.logo img {
    max-width: 200px;
    margin-left: 80px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-right: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.coffee-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 110%; /* Make the section fill the width */
}

.text-content {
    max-width: 50%;
    margin-left: 55px;
}

.text-content h1 {
    font-size: 80px;
    color: #000;
}

.text-content p {
    font-size: 35px;
    margin: 20px 0;
    color: #000000;
}

.buy-button {
    display: inline-block;
    padding: 20px 45px;
    background-color: #F6B8A6;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 80px;
}

.image-content {
    width: 45%; /* Enlarge image width */
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 120%; /* Enlarge the coffee image */
    height: 600px;
    border-radius: 20px;
}